
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body 
{
    font-family: 'Roboto', sans-serif;
    padding-right: 0%;
    margin: 0%;
}


nav
{
    position: absolute;
    left: 400px;
    display: flex;
    width: 60%;
    max-height:  150px;
    top: 2px;
    justify-content: space-around;
    align-items: center;
    width: 70%
}


header 
{
    position: relative;
    background-image: url("img/banner.jpg");
    min-height:  98vh;
}


.navtext
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    list-style: none;
   
}

 

.navicons ul 
{
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    justify-content: center;
    color: #afe223;
    justify-content: space-evenly;
}



#cherche, #user, #heart, #shop 
{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
}


.flex 
{
    display: flex;
    flex-direction: row;
}

.navigation 
{
    display: flex;
    justify-content: space-around;
}*

.textheader 
{
   position: absolute;
   top: 35%;
   left: 25%;
}


.bienvenue {
    color:  #afe223 ;
    font-size: 25px;
}

h1 {
    font-size: 50px;
    font-weight:400
}

.click {
    font-size: 25px;
}

.course {
    
    display: flex;
    justify-content: space-around;
}